<tr>
  <td><%= maize_record.id %></td>
  <td><%= maize_record.age %></td>
  <td><%= maize_record.site.name %></td>
  <td><%= link_to 'Edit', edit_maize_record_path(maize_record) %> | <%= link_to 'Delete', maize_record_path(maize_record), :method => :destroy, :confirm => "Are you sure you want to delete record #{maize_record.id}?" %></td>
</tr>